<section id="introText">
  <div class="container">
    <!--div>
      <h1>I create beautiful responsive websites, Yes I am a design geek</h1>
      <p>I am a Designer currently living in San Francisco, California. I moved to the Bay Area in September 2011 from Mumbai, India where I did my undergrad in Commercial Arts. I am studied at Academy of Art University, San Francisco purusing my masters in Web Design & New Media.</p>
    </div-->
  </div>
</section>



<!--Portfolio-->
<section id="portfolio"  class="secPad">
  <div class="container">
    <div class="heading">
      <!-- Heading -->
      <h2>Portfolio</h2>

    </div>
    <div class="row">
      <nav id="filter" class="col-md-12">
        <ul>
          <li><a href="#" class="current btn-theme btn-small" data-filter="*">ALL</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".web">WEB DESIGN</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".illustration">ILLUSTRATION</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".graphic">GRAPHIC DESIGN</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".motion">MOTION GRAPHICS</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".typo">TYPOGRAPHY</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".ui">UI / UX</a></li>
          <li><a href="#" class="btn-theme btn-small" data-filter=".interactive">INTERACTIVE INFOGRAPHICS</a></li>
        </ul>
      </nav>


      <div class="col-md-12">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix" id="3">


              <!--UI starts here-->


              <article class="col-sm-4 isotopeItem ui">
                <div class="portfolio-item"
                  title="Bucket App" description="Find parties, movie, concerts, sports, arts, theater, broadway shows, family events and get tickets in advance.  </br> Bucket makes it easy to find events, buy tickets, and share with your friends - all with one swipe and quick pay.">
                  <img src="/static/images/portfolio/tn_bucket.jpg" alt="Bucket App"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">

                      <a href="/static/images/portfolio/1-Walkthrough.png" class="fancybox">Bucket App</a>
                      <a href="/static/images/portfolio/2-Walkthrough.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/3-Walkthrough.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/1-Login.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/2-Sign Up.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/3-Invite.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/4-Event Name.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/5-Invite Friends.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/6-Invite Friends Copy.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/7-Your Spot.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/8-Start Accept.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/9-Card Select.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/10-Accepted.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/11-All Tickets.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/bucket-wireframe.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>
              <!--UI ends here-->

              <article class="col-sm-4 isotopeItem illustration">
                <div class="portfolio-item"
                  title="Hackathon - Iconography" description="">
                  <img src="/static/images/portfolio/tn_icons.jpg" alt="Hackathon - Iconography"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/icon1.png" class="fancybox">Hackathon - Iconography</a>
                      <a href="/static/images/portfolio/icon2.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/icon3.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/icon4.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/icon5.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/icon6.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/icon7.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-sm-4 isotopeItem ui">
                <div class="portfolio-item"
                  title="Fitness App" description="Get Access To The Largest Network Of Studios & Gyms. </br> Work out anywhere and everywhere. Stay active, live happy. </br> Thousands of classes · Hundreds of studios · No contracts">
                  <img src="/static/images/portfolio/tn_fitness.jpg" alt="Fitness App"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/fit5.png" class="fancybox">Fitness App</a>
                      <a href="/static/images/portfolio/fit6.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/fit7.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/fit1.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/fit2.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/fit3.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/fit4.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem illustration">
                <div class="portfolio-item"
                  title="Vacation Badges" description="A sample of some illustration work for a tourism project.">
                  <img src="/static/images/portfolio/tn_vacation badges.jpg" alt="Vacation Badges"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/india-big.png" class="fancybox">Vacation Badges</a>
                      <a href="/static/images/portfolio/hawaii-big.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/sanfrancisco-big.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/iowa-big.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/australia-big.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/paris-big.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem typo graphic">
                <div class="portfolio-item"
                  title="FashLab Web Design Proposal" description="
                  <a href='https://drive.google.com/file/d/0B5o_NiPet_qybmN1U2ZLb0ctUk0/view?usp=sharing'>FashLab Proposal Booklet</a>
                  </br>
                  GLA / Balancing Creativity // Web Design Proposal">
                  <img src="/static/images/portfolio/tn_ignite_thumbnail.jpg" alt="FashLab Web Design Proposal"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/ignite1.png" class="fancybox">FashLab Web Design Proposal</a>

                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem motion">
                <div class="portfolio-item"
                  title="Circle Up" description="WNM 617 / Topics in Motion Graphics // Project 2 / Trailer
                  </br></br>

                  Motion graphics</br>
                  AAU Academic project - Summer 2012 </br>    Instructor: Micha Ritche</br>
                  Focus: Kinetic typography to a popular movie quote</br></br>
                  Tools used: Adobe After Effects, Adobe Illustrator
                  ">
                  <img src="/static/images/portfolio/tn_circleup_thumbnail.jpg" alt="Circle Up"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="https://www.youtube.com/embed/VqM0d8UMIwE" class="mfp-iframe" class="fancybox">Circle Up</a>
                    </div>
                  </div>
                </div>
              </article>

              <!--Interactive Infographics starts here -->


              <article class="col-sm-4 isotopeItem interactive">
                <div class="portfolio-item"
                  title="Sochi Winter Olympics 2014" description="WNM 661 / Interactive Infographics // Project 2 </br>
                  <a href='https://dl.dropboxusercontent.com/u/90617906/winter_olympics/index.html'> Sochi Winter Olympics 2014 - Interactive site</a>
                  </br></br>

                  Data-visualisation</br>
                  AAU Academic project - Spring 2013</br>
                  Instructor: Joe Golike</br>
                  Focus: Interactive data-visualisation</br>
                  </br>
                  The topic for this interactive data-visualisation project is which countries dominate in the Winter Olympics relative to it's size and wealth and the change in tale. The timeline can be scrubbed to view the data from Total Medal count, Medals per 10 Million people, Medals per $100 Billion in GDP and Medals per 10 Olypians. The main reasons for this result is that its geographical location.
                  </br></br>
                  Goal for this assignment was to investigate and research data sets and propose a story/concept for your journalistic interactive infographics project.

                  </br></br>
                  Tools used: HTML5, CSS3, JavaScript, BBEdit, Adobe Illustrator">
                  <img src="/static/images/portfolio/tn_IMG_1542.jpg" alt="Sochi Winter Olympics 2014"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/IMG_1542.JPG" class="fancybox">Sochi Winter Olympics 2014</a>
                      <a href="/static/images/portfolio/IMG_1543.JPG" class="fancybox"></a>
                      <a href="/static/images/portfolio/IMG_1545.JPG" class="fancybox"></a>
                      <a href="/static/images/portfolio/IMG_1544.JPG" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>
              <!--Interactive Infographics ends here -->

              <!--Web starts here-->
              <article class="col-sm-4 isotopeItem web">
                <div class="portfolio-item"
                  title="MFA Thesis Project" description="<a href='http://www.thesis.kpoyekar.com'>Prototype</a>">
                  <img src="/static/images/portfolio/tn_mfa3.jpg" alt="MFA Thesis Project"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/mfa1.png" class="fancybox">MFA Thesis Project</a>
                      <a href="/static/images/portfolio/mfa2.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa3.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa4.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa5.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa6.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa7.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa8.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa9.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa10.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa11.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/mfa12.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem web">
                <div class="portfolio-item"
                  title="Recipe Website" description="<a href='https://dl.dropboxusercontent.com/u/90617906/recipe/home.html'>Prototype</a>
                  </br></br>
                  AAU Academic project - Fall 2012
                  </br>
                  Instructor: Ethan Wilde</br>
                  Focus: HTML5 coding, jQuery</br></br>

                  Recipe Website class project to showcase student’s HTML and CSS skills.">
                  <img src="/static/images/portfolio/tn_recipe_thumbnail.jpg" alt="Recipe Website"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/111.png" class="fancybox">Recipe Website</a>
                      <a href="/static/images/portfolio/112.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/114.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/115.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>

              <article class="col-sm-4 isotopeItem web">
                <div class="portfolio-item"
                  title="Yosemite Website" description="<a href='https://dl.dropboxusercontent.com/u/90617906/Yosemite/index.html'>Prototype</a>
                  </br>
                  </br>
                  AAU Academic project - Spring 2013</br>    Instructor: Dave Kanter</br>
                  Focus: Responsive mobile web application
                  </br></br>
                  Website prototype designed as a mobile tour guide for tourists in the Yosemite valley.
                  </br></br>
                  This website was designed to find your way around Yosemite Valley with the help of your smart phone. This application would have an interactive GPS enable map, real time updates, shows all the view points and points of interest, trails, campgrounds, etc. It has a scanner to save digital pass. This application would use HTML5 cache manifest to save maps and to allow offline browsing.
                  </br></br>
                  Web site is responsive in such a way that when the user views it on the mobile device, the navigation links are presented as icons in the top and bottom navigation bars just like any native application. The list of features, information about activities, and amenities available around the Valley are presented as large icons on the screen. The media query is written such that the Web site application on the desktop followed the conventional Web format and when viewed on the mobile it adapts itself like a native mobile application.
                  </br></br>
                  Tools used: HTML5, CSS3, jQuery, jQuery mobile, BBEdit, Adobe Illustrator, Adobe Photoshop
                  </br></br>
                  Testing methods: Tested for cross-browser functionality
                  </br></br>
                  Group project - Team of 2. Team lead - Responsible for idea, design, template coding and images">
                  <img src="/static/images/portfolio/tn_yosemite_thumbnail.jpg" alt="Yosemite Website"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/yo11.png" class="fancybox">Yosemite Website</a>
                      <a href="/static/images/portfolio/yo12.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/yo13.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/yo14.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/yo15.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/yo16.png" class="fancybox"></a>
                      <a href="/static/images/portfolio/yo17.png" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>
              <!--Web ends here-->


              <!--Illustration starts here-->

              <!--Illustration ends here-->

              <!--Graphic starts here-->
              <article class="col-sm-4 isotopeItem illustration">
                <div class="portfolio-item"
                  title="Peacock - Logo Design" description="">
                  <img src="/static/images/portfolio/tn_peacock_logo.jpg" alt="Peacock - Logo Design"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/peacock_logo_big.png" class="fancybox">Peacock - Logo Design</a>
                    </div>
                  </div>
                </div>
              </article>



              <article class="col-sm-4 isotopeItem graphic">
                <div class="portfolio-item"
                  title="Ferry Building – System" description="GR 618 / Visual Design // Project 1 </br> From the intention of my original found sign, (to promote trip to Ferry Building Farmers Market for the students of Academy of Art University to eat healthy food), I designed a graphic design system which I used consistently throughout different design formats.">
                  <img src="/static/images/portfolio/tn_systems_thumbnail.jpg" alt="Ferry Building – System"/>
                  <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <a href="/static/images/portfolio/021.jpg" class="fancybox">Ferry Building – System</a>
                      <a href="/static/images/portfolio/022.jpg" class="fancybox"></a>
                      <a href="/static/images/portfolio/023.jpg" class="fancybox"></a>
                      <a href="/static/images/portfolio/024.jpg" class="fancybox"></a>
                      <a href="/static/images/portfolio/025.jpg" class="fancybox"></a>
                      <a href="/static/images/portfolio/026.jpg" class="fancybox"></a>
                      <a href="/static/images/portfolio/027.jpg" class="fancybox"></a>
                    </div>
                  </div>
                </div>
              </article>


              <!--Graphic ends here-->

            <!--Typography starts here-->
            <article class="col-sm-4 isotopeItem typo graphic">
              <div class="portfolio-item"
                title="Clarendon – Monotype Type Promotion Booklet" description="GR 619 / Type Composition // Project 3 / Monotype Type Promotion Booklet </br> I was asked to design a booklet for monotype foundry for type promotion. I choose Clarendon as my typeface for promotion.
Parameters for this assignment were as such that monotype would have it on their website for download so I had to submit it in a PDF format so that the target audience i.e. Graphic Designers can download it and can print it on their own house or work printers on letter size paper.">
                <img src="/static/images/portfolio/tn_clarendon_thumbnail.jpg" alt="Clarendon"/>
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="/static/images/portfolio/034.jpg" class="fancybox">Clarendon – Monotype Type Promotion Booklet</a>
                    <a href="/static/images/portfolio/035.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/036.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/037.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/038.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/039.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/040.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/041.jpg" class="fancybox"></a>
                  </div>
                </div>
              </div>
            </article>



            <article class="col-sm-4 isotopeItem typo">
              <div class="portfolio-item"
                title="Poster Redesign" description="GR 618 / Visual Literacy // Project 1 </br> I was asked to take three master artists/designers and to adapt their design style and redesign the existing poster of music concert provided, only using its content and not the graphics. Biography of the master artists/designers followed by the redesigned posters in their design styles.">
                <img src="/static/images/portfolio/tn_posterredesign_thumbnail.jpg" alt="Poster Redesign"/>
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="/static/images/portfolio/012.jpg" class="fancybox">Poster Redesign</a>
                    <a href="/static/images/portfolio/013.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/014.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/015.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/016.jpg" class="fancybox"></a>
                    <a href="/static/images/portfolio/017.jpg" class="fancybox"></a>
                  </div>
                </div>
              </div>
            </article>
            <!--Typography ends here-->



            <!--Motion starts here-->
            <article class="col-sm-4 isotopeItem motion">
              <div class="portfolio-item"
                title="Text Animation" description="WNM 617 / Topics in Motion Graphics // Project 1 / Women Hate Women </br></br>
                Kinetic Typography</br>
                Motion graphics</br>
                AAU Academic project - Summer 2012 </br>    Instructor: Micha Ritche</br>
                Focus: Kinetic typography to a popular movie quote</br></br>
                Tools used: Adobe After Effects, Adobe Illustrator">
                <img src="/static/images/portfolio/tn_woman_thumbnail.jpg" alt="Text Animation"/>
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="https://www.youtube.com/embed/LMi5Aq9k6oE" class="mfp-iframe">Text Animation</a>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-sm-4 isotopeItem interactive">
              <div class="portfolio-item"
                title="The Chicagoan Exodus of African American" description="WNM 611 / Interactive Infographics // Project 1 </br> Goal for this assignment was to investigate and research data sets and propose a story/concept for your journalistic interactive infographic project.">
                <img src="/static/images/portfolio/tn_0.jpg" alt="The Chicagoan Exodus of African American"/>
                <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <a href="/static/images/portfolio/0.png" class="fancybox">The Chicagoan Exodus of African American</a>
                    <a href="/static/images/portfolio/1.png" class="fancybox"></a>
                    <a href="/static/images/portfolio/2.png" class="fancybox"></a>
                    <a href="/static/images/portfolio/3.png" class="fancybox"></a>
                    <a href="/static/images/portfolio/4.png" class="fancybox"></a>
                    <a href="/static/images/portfolio/5.png" class="fancybox"></a>
                    <a href="/static/images/portfolio/6.png" class="fancybox"></a>
                  </div>
                </div>
              </div>
            </article>
            <!--Motion ends here-->


          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Skills-->
<section id="skills" class="secPad white">
  <div class="container">
    <div class="heading ">
      <!-- Heading -->
      <h2>Skills</h2>
    </div>

    <div class="row">
      <!-- Left column starts here-->
      <div class="col-sm-4"> <br/>

        <h3 style="color:#1BA27A">Design Softwares</h3>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4 skilltitle"><b>Sketch</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span class="sr-only">90% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>InDesign</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">80% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Illustrator</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Photoshop</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>After Effects</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Edge Animate</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Dreamweaver</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Flash</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>OmniGraffle</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>


      </div>
      <!-- Left column ends here-->

      <!-- Center column starts here-->
      <div class="col-sm-4"> <br/>

        <h3 style="color:#1BA27A">Programming Languages</h3>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4 skilltitle"><b>HTML5</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span class="sr-only">90% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>CSS3</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">80% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>JavaScript</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span class="sr-only">65% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>jQuery</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Drupal</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">80% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Wordpress</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">85% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Bootstrap</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">85% Complete</span> </div>
            </div-->
          </div>
        </div>

      </div>
      <!-- Center column ends here-->

      <!-- Right column starts here-->
      <div class="col-sm-4"> <br/>

        <h3 style="color:#1BA27A">Other</h3>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4 skilltitle"><b>Microsoft Office</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span class="sr-only">90% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Google Analytics</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Windows & Mac</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">95% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Keynote</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>Acrobat</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 skilltitle"><b>InVision</b></div>
          <div class="col-md-8">
            <!--div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div-->
          </div>
        </div>


      </div>
      <!-- Right column ends here-->
    </div>
  </div>
</section>


<!--About-->
<section id="about">
  <div class="container">
    <div class="heading">
      <!-- Heading -->
      <h2>About</h2>
      <br/>
    </div>
    <div class="row">
      <!-- item -->
      <div class="col-md-4 tileBox"> <img src="/static/images/ketakiphoto.jpg" alt="me" height="250px" width="250px"/> </div>
      <div class="col-md-8 tileBox">
        <div class="txtHead">

        <h3 style="color:#1BA27A">Hi there, </h3>
        </div>
        </br>

        <p>I’m Ketaki Poyekar. I'm a designer with a passion for perfection in any work I do. I believe design is all about the details. The role of design is not limited to job titles and professions but it is part of everything we do in our everyday lives. Design is not just about creating well-functioning products or services but it is also about the whole experience and satisfaction the user has while interacting with these.</p>
        </br>
        <p>My objective as a designer is to create innovative solutions to design problems, keeping in mind the goals, aspirations, needs and behavior of the users.</p>
        </br>
        <p>I moved to the Bay Area in September 2011 from Mumbai, India. I have a bachelor’s degree in Commercial Arts. I recently graduated from the Academy of Art University, San Francisco with an MFA in Web Design and New Media.</p>
        </br>
        <h4 style="color:#1BA27A">Please feel free to get in touch with me!</h4>
        <p>ketaki.poyekar@gmail.com</p>
      </div>
      <!-- end: -->
    </div>
  </div>
</section>

<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/jquery.cslider.js"></script>
<script src="/static/js/custom.js"></script>
<script>
  $(function(){
      $('.portfolio-item').each(function() {
          $(this).magnificPopup({
              delegate: "a.fancybox"
            , type: "image"
            , gallery:{enabled:true}
            , image: {
                  titleSrc: function (item) {
                      var title = "<strong>" + item.el.closest('.portfolio-item').attr('title') + "</strong>"
                        , description = item.el.closest('.portfolio-item').attr('description')

                      if (item.el.attr('description')) {
                          description = item.el.attr('description')
                      }

                      if (description) {
                          title = title + "<p><small>" + description + "</small></p>"
                      }
                      return title
                  }
              }
          })
      })
      $('.portfolio-item').click(function (evt) {
          $(evt.target).closest('.portfolio-item').find('a.fancybox:first').click()
      })
      $('.portfolio-item').find('a.fancybox:first').each(function (i, elm) {
          var $elm = $(elm)
            , length = $elm.closest('.portfolio-item').find('a.fancybox').length
          $elm.append('<br><span class="subheader">'+length+' item' + (length==1?'':'s') + '</span>')
      })
  })
</script>
